<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.ucsb.cs.cs185.FoodTracker"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8"
        android:targetSdkVersion="17"/>
    
    <application android:allowBackup="true"
        android:label="@string/app_name">
        <activity
                android:name="FoodTrackerActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
         <activity
            android:name="edu.ucsb.cs.cs185.FoodTracker.CreateAMealActivity"
            android:label="@string/title_activity_create_meal" >
        </activity>
          <activity
            android:name="edu.ucsb.cs.cs185.FoodTracker.SummaryActivity"
            android:label="@string/title_activity_summary_meal" >
        </activity>
         <activity
            android:name="edu.ucsb.cs.cs185.FoodTracker.HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
    </application>
</manifest>
